#btn1{
    background-color: rgb(85, 154, 85);
    color: white;
    border: none;
    width:170px;
}
.c1{
    font-weight: bolder;
}
#btn2{
    background-color: rgb(255, 82, 1);
    color: rgb(255, 251, 251);
    border: none;
    border-radius: 15%;
}
p{
    padding: 10px;

    background-color: rgb(185, 201, 201);
}
