div{
    background-color: rgb(178, 80, 80);
    height:400px;
    width:400px;
    padding-left: 50;
    padding-top: 80;
    
}
table{
    background-color: rgb(112, 21, 53);
    color: white;
    height:300px;
    position: static;
    width: 350;
    

}
